<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androiddb">

    <application
        android:name=".Database.InstanceDB"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidDB">
        <activity android:name=".Activities.TableUsers" />
        <activity android:name=".Activities.GeneralUserData" />
        <activity android:name=".Activities.Registration" />
        <activity android:name=".Activities.MainForm" />
        <activity android:name=".Activities.Authorization">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>